{% extends "layout.html" %}
{% block content %}
<div id="overlay"><img src="/static/spinner.gif"></div>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.module.label(class="form-control-label") }}
                    {% if form.module.errors %}
                        {{ form.module(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.module.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.module(class="form-control form-control-lg", id="sourceSelection") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div id="kijijiDiv">
                    <div class="form-group">
                        {{ form.website.label(class="form-control-label") }}
                        {% if form.website.errors %}
                            {{ form.website(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.website.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.website(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.location.label(class="form-control-label") }}
                        {% if form.location.errors %}
                            {{ form.location(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.location.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.location(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.range.label(class="form-control-label") }}
                        {% if form.range.errors %}
                            {{ form.range(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.range.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.range(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                {{ form.test(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
<script>
        jQuery(document).ready(function($){
             var csrf_token = $("#csrf_token").val()
                $("#test").click(function(evt){
                    evt.preventDefault();
                     data =  {
                       website: $("#website").val(),
                       module: $("#sourceSelection").val()
                     }
                    var xhr = new XMLHttpRequest()

                    xhr.onreadystatechange = function () {
                      if(xhr.readyState === XMLHttpRequest.OPENED) {
                          $("#overlay").show();
                        }
                      // In local files, status is 0 upon success in Mozilla Firefox
                      if(xhr.readyState === XMLHttpRequest.DONE) {
                          $("#overlay").hide();
                        var status = xhr.status;
                        if (status === 0 || (status >= 200 && status < 400)) {

                          $("#notificationMessage .alert > span").text(xhr.response);
                          $("#notificationMessage").show();

                        } else {
                          $("#notificationMessage .alert span").text("Error!");
                          $("#notificationMessage").show();
                        }
                      }
                    };
                    xhr.open("POST", "/sources/test", true);
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                    // send the collected data as JSON
                    xhr.send(JSON.stringify(data));
                    $("#notificationMessage").html("<div class=\"alert alert-info alert-dismissible fade show\" role=\"alert\">\n" +
                        "                                <span>Test sent!</span>\n" +
                        "                                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                        "                                    <span aria-hidden=\"true\">×</span>\n" +
                        "                                </button>\n" +
                        "                            </div>")
                    $("#notificationMessage").show();


                });


        });
    </script>

    <div class="row">
        <div class="container col-md-3"></div>

        <div class="container col-md-6">
            {% with notifications = get_flashed_messages(category_filter=["prime"]) %}
                {% if notifications %}
                    {%- for message in notifications %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock content %}