{% include 'layout.html' %}
{% block scripts %}
    {{ colorpicker.loader() }}
    {{ colorpicker.picker(ids=[".cp"], default_color='rgb(255,140,0)', color_format='hex', showAlpha='false', showButtons='false') }}
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="content-section mx-auto col-md-8">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.frequency.label(class="form-control-label") }}
                        {% if form.frequency.errors %}
                            {{ form.frequency(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.frequency.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        {% else %}
                            {{ form.frequency(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.sources.label(class="form-control-label") }}
                        <div data-toggle="fieldset" id="fieldset">
                            <div id="sources">
                                {% for s in form.sources %}
                                    <div class="container" data-toggle="fieldset-entry">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-md-11">
                                                {% if action == 'edit' %}
                                                    {% set z = sourceform.source_select.process_data(source_data[loop.index0]) %}
                                                {% endif %}
                                                
                                                {{ sourceform.source_select(id="source_select-{{ loop.index0 }}", class="form-control form-control-lg") }}
                                                <p>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger" data-toggle="fieldset-remove-row" id="module-{{ loop.index0 }}-remove"> - </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-success" data-toggle="fieldset-add-row" data-target="#fieldset">Add another source</button>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.notification_agents.label(class="form-control-label") }}
                        <div data-toggle="notification_agent_fieldset" id="notification_agent_fieldset">
                            <div id="notification-agents">
                                {% for s in form.notification_agents %}
                                    <div class="container" data-toggle="notification_agent_fieldset-entry">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-md-11">
                                                {% if action == 'edit' %}
                                                    {% set z = notificationagentform.notification_agent_select.process_data(notification_agent_data[loop.index0]) %}
                                                {% endif %}
                                                
                                                {{ notificationagentform.notification_agent_select(id="notification_agent_select-{{ loop.index0 }}", class="form-control form-control-lg") }}
                                                <p>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger" data-toggle="notification_agent_fieldset-remove-row" id="module-{{ loop.index0 }}-remove"> - </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-success" data-toggle="notification_agent_fieldset-add-row" data-target="#notification_agent_fieldset">Add another notification agent</button>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.colour_flag.label(class="form-control-label") }}
                        {% if form.colour_flag.errors %}
                            {{ form.colour_flag(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.colour_flag.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <br>
                            {{ form.colour_flag(class="form-control form-control-lg cp") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.must_contain.label(class="form-control-label") }}
                        {% if form.must_contain.errors %}
                            {{ form.must_contain(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.must_contain.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.must_contain(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.exclude.label(class="form-control-label") }}
                        {% if form.exclude.errors %}
                            {{ form.exclude(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.exclude.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.exclude(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.prime_count.label(class="form-control-label") }}
                        {% if form.prime_count.errors %}
                            {{ form.prime_count(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.prime_count.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.prime_count(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
