<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

        {% if title %}
            <title>Trackyr - {{ title }}</title>
        {% else %}
            <title>Trackyr</title>
        {% endif %}

    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">Trackyr</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                        </div>
                        <!-- Navbar Right Side-->
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{{ url_for('main.sources') }}">Sources</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.notification_agents') }}">Notification Agents</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.tasks') }}">Tasks</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.trackyr_config') }}">Config</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages(category_filter=["top_flash_success"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <div class="row">
            <div class="container col-md-9">
            </div>

            <div class="container col-md-3" id="notificationMessage">
                {% with notifications = get_flashed_messages(category_filter=["notification"]) %}
                    {% if notifications %}
                        {%- for message in notifications %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor -%}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">window.setTimeout("document.getElementById('notificationMessage').style.display='none';", 5000); </script>
        <script>
            $("#sourceSelection").change(function() {
                if ($(this).val() == 1) {
                    $('#kijijiDiv').show();
                //     $('#redditDiv').hide();
                // } else if ($(this).val() == 2) {
                //     $('#redditDiv').show();
                //     $('#kijijiDiv').hide();
                } else {
                    $('#kijijiDiv').hide();
                    // $('#redditDiv').hide();
                }
            });
            $("#sourceSelection").trigger("change");

            $("#notificationAgentSelection").change(function() {
                if ($(this).val() == 1) {
                    $('#discordDiv').show();
                //     $('#slackDiv').hide();
                // } else if ($(this).val() == 2) {
                //     $('#slackDiv').show();
                //     $('#discordDiv').hide();
                } else {
                    $('#discordDiv').hide();
                    // $('#slackDiv').hide();
                }
            });
            $("#notificationAgentSelection").trigger("change");
        </script>
    </body>
</html>
