alembic
bs4
click
discord.py
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
python-dateutil
python-editor
pyyaml
requests
six
SQLAlchemy
Werkzeug
WTForms
